@import '../styles/Theme.scss';

.show_base {
    transition: opacity $transition-duration, padding-top $transition-duration;
}

.show {
    @extend .show_base;
    padding-top: 0px;
    opacity: 1;
}

.hide {
    @extend .show_base;
    pointer-events: none;
    padding-top: 5rem;
    max-height: 100%;
    overflow-y: hidden;
    opacity: 0;
}
