@import '../styles/Theme.scss';

.sections {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

.sections > * {
    min-width: 100%;
    margin-right: $m6;
}

.title {
    margin-bottom: $m3;
}


.project_button {
    background-color: transparent;
    display: flex;
    width: 100%;
    color: $white;
    border: none;
}


.description {
    font-size: $body-1;
}

.technology {
    font-size: $body-2;
    color: $grey-3;
}

.icon {
    width: 15rem;
    margin-top: auto;
    margin-bottom: auto;
}

.image {
    width: 35rem;
    max-width: 80%;
    margin-top: $m3;
    margin-bottom: $m3;
}

.project {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $m4;
    margin-bottom: $m4;
    box-shadow: 0px 4px 5px 3px $primary-color;
    border-radius: 1rem;
}

.description, .technology {
    text-align: justify;
}

/// mobile layout
// desktop layout
@media screen and (min-width: 750px) {
    .project {
        box-shadow: none;
        padding: $m3;
        width: 100%;
        transition: padding-top 0.2s padding-bottom 0.2s;
        position: relative;
        z-index: 1;
        margin-top: $m3;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .project:hover {
        padding-top: 1rem;
        padding-bottom: 3rem;
        z-index: 1;
    }

    .project::after {
        content: "";
        transition: width 0.5s ease-in-out;
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    .project:hover::after {
        content: "";
        background-color: $primary-color;
        transition: width 0.5s ease-in-out;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    
    .project_description {
        flex-grow: 1;
        text-align: left;
    }

    .reverse {
        flex-direction: row-reverse;
        .description, .technology {
            text-align: right;
        }
    }

    .reverse .project_description {
        text-align: right;
    }
    
    .project_page {
        transition: max-height $transition-duration;
        overflow-y: hidden;
    }

    .image {
        max-width: 100%;
    }
}
