@import '../styles/Theme.scss';

.title {
    margin-bottom: $m3;
}

.job {
    padding: $m4 0px;
    margin-bottom: 0px;
}

.job * {
    margin-bottom: 0px;
}

.job::before {
    content: "";
    height: 1px;
    width: 80%;
    margin: auto;
    background-color: $white;
    display: block;
}

.job_title_and_company {
    display: flex;
    justify-content: space-between;
    margin-bottom: $m2;
    font-size: $h6;
}

.job_title {
    color: $primary-color;
}

.job_period {
    margin-top: $m2;
}