@import '../styles/Theme.scss';

.title {
    margin-bottom: $m3;
}

.job {
    padding: $m4 0px;
    margin-bottom: 0px;
}

.job * {
    margin-bottom: 0px;
}

.job::before {
    content: "";
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: $m2;
    margin-bottom: $m6;
    background-color: $white;
    display: block;
}

.job_title_and_company {
    margin-bottom: $m2;
}

@media screen and (min-width: 750px) {
    .job_title_and_company {
        display: flex;
        justify-content: space-between;
    }
}

.job_title {
    color: $primary-color;
}

.job_period {
    margin-top: $m2;
    font-size: $h6;
    color: $grey-3;
}