:root {
  font-size: 62.5%;
  --h1: 4rem;
  --h2: 3rem;
  --h3: 2.8rem;
  --h4: 2.5rem;
  --h5: 2.5rem;
  --h6: 2rem;
  --body-1: 1.6rem;
  --body-2: 1.4rem;
  line-height: 1.5;

  --green: rgb(41,179,119);
  --green-2: rgba(41,179,119, 0.6);
  --grey-1: rgb(205,209,204);
  --grey-2: rgb(140,140,148);
  --grey-3: rgb(110,109,110);
  --grey-4: rgb(34,38,38);
  --grey-5: rgb(23,24,26);
  --white: rgb(207,207,208);

  --background-color: var(--grey-5);
  --text-color: var(--white);

  --primary-color: var(--green);
  --on-primary-color: var(--white);
}

@font-face {
  font-family: "Roboto-Black";
  src: url("/fonts/Roboto/Roboto-Black.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 0rem;
}

::-webkit-scrollbar-track:hover {
  width: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green-2);
  border-radius: 5000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green);
}