$h1: var(--h1);
$h2: var(--h2);
$h3: var(--h3);
$h4: var(--h4);
$h5: var(--h4);
$h6: var(--h5);

$body-1: 1.8rem;
$body-2: 1.6rem;

$green: rgb(41,179,119);
$grey-1: rgb(205,209,204);
$grey-2: rgb(140,140,148);
$grey-3: rgb(110,109,110);
$grey-4: rgb(34,38,38);
$grey-5: rgb(23,24,26);
$white: rgb(207,207,208);

$background-color: $grey-5;
$text-color: $white;

$primary-color: $green;
$on-primary-color: $white;

$m1: 0.5rem;
$m2: 1rem;
$m3: 1.5rem;
$m4: 2rem;
$m5: 2.5rem;
$m6: 3rem;


$transition-duration: 1s;
